html, body, #root {
  margin: auto;
  font-size: 95%;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  width: -webkit-fill-available;
  background-color: #000;
  color: #0f0;
}

h2 {
  text-align: center;
  margin-top: 0;
  font-weight: normal;
}

a, button, input[type=text], .input, .input > input[type=text], select {
  background-color: #000;
  color: #ff0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  text-align: center;
}

select, input[type=time] {
  margin-top: 1em;
  background-color: black;
  color: #ff0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  font-size: 80%;
  filter: invert(1);
}
/*  background-color: #000;
  color: #ff0; */

/* timezonepicker */
.input > input[type=text] {
  border: 1px dashed #ff0;
  font-size: 90%;
  padding: .3em;
}

.input > ul > li > button {
  background-color: #000;
  color: #ff0;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 90%;
}

.input > ul > li > button.focus {
  background-color: #333;
  color: #ff0;
}

.flex.conversion {
  flex-direction: column;
  align-items: center;
}

.flex.conversion > * {
  max-width: 40rem;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: #afa1;
  border: .5px solid #0f06;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 10px;
  background: #0f0;
  cursor: pointer;
}

input[type=range]:focus {
  outline: none;
}

/*
input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added
  background: #888; 
  border-color: transparent;
  color: #888;
}*/

#root {
  height: -webkit-fill-available;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  align-content: space-between;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}

footer, div.flex > div.boxed {
  margin: .3rem;
  padding: 1rem;
  border: 1px dashed #0f0;
}

body > div > div > div {
  flex: 1 0 20rem;
  min-width: 20rem;
  margin: 0;
  padding: 0;
}

footer {
  padding: .5rem;
  width: -webkit-fill-available;
  max-width: none;
  background-color: #0f03;
  border: 1px dashed #0f08;
  font-size: 70%;
  margin-bottom: .5rem;
}

span.time {
  border: 1px dotted #333d;
  margin: 0 .03em;
}
